html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

div {
  margin: 0;
  padding: 0;
}

/* L011 */
.el-drawer {
  padding: 0px 0px 0px 20px;
  width: 600px;
}

/* L020 */
.el-menu {
  border: none !important;
  margin-top: 20px;
  width: 90%;
}

/* L026 */
.el-dialog {
  z-index: 1000;
}

/* L049 */
.el-aside {
    /* text-align: center; */
    border-right: 1px solid #efefef;
}

/* L058 */
.el-header {
  border-bottom: 1px solid #efefef;
  font-size: 12px;
  display: flex;
  align-items: center;
  height: 35px !important;
}
.el-footer {
  border-top: 1px solid #efefef;
  font-size: 12px;
  display: flex;
  align-items: center;
  height: 35px !important;
}

/* L054 */
.el-main {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* L077 */
.icon1{
  height: 16px;
  width: 16px;
  position: relative;
  top: 2px;
  cursor: pointer;
  z-index: 111;
}

/* L170 */
.el-select {
    width: 130px;
}

/* L217 */
.el-switch__label{
    height: auto !important;
}

.el-autocomplete {
  width: 100% !important;
}

.el-tabs--card {
  height: calc(100vh - 110px);
  /* overflow-y: auto; */
}

.el-tab-pane {
  height: calc(100vh - 110px);
  overflow-y: auto;
}
/*
.el-table__body-wrapper {
  height: 100% !important;
}*/